<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @attendance.member.name %>
</p>

<p>
  <strong>Wk day:</strong>
  <%= @attendance.wk_day.strftime("%Y/%m/%d") %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @attendance.arrival_time %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @attendance.departure_time %>
</p>

<%= link_to 'Back', root_path %>
